<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Kartvizitler</h1>
      <p class="page-description">
        Bu ekrandan kartvizitlerinizi yönetebilirsiniz.
      </p>
    </div>
    <button mat-flat-button color="primary" (click)="openAddCardModel()">
      Yeni Ekle
    </button>
  </div>

  <hr />

  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let card of cardService.cards">
        <app-card-item [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</main>
