.example-spacer {
  flex: 1 1 auto;
}

.header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  li {
    a {
      color: #fff;
      padding: 0 10px;
      text-decoration: none;
      font-size: 15px;
      opacity: 0.7;
      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}
