<h2 mat-dialog-title>{{data ? "Düzenle" : "Yeni Ekle"}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>İsim</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Başlık</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>E-posta</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Adres</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div *ngIf="data" class="flex-grow-1 text-start">
    <button mat-button color="danger" disabled="{{!loading}}" mat-stroked-button mat-dialog-close (click)="removeCard()">Sil</button>
  </div>
  <button mat-button mat-dialog-close>İptal</button>
  <button mat-button disabled="{{!loading || form.invalid}}" color="primary" mat-flat-button (click)="data ? updateCard() : addCard()">{{data ? "Düzenle" : "Ekle"}}</button>
</mat-dialog-actions>
